/**
    Button Types:
      - Solid Button
      - Outline Button

    Button Sizes:
      - Large
      - Normal
      - Small
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}
