// Colors
$colorPrimary       : hsl(35, 100%, 50%);
$colorPrimaryHover  : hsl(35, 100%, 40%);
$colorSecondary     : hsl(254, 44%, 31%);
$colorSecondaryHover: hsl(254, 44%, 29%);
$colorText          : hsl(0, 0%, 13%);
$colorWhite         : hsl(0, 0% , 100%);
$colorBlack         : hsl(0, 0% , 0%);
$colorGrayLighter   : hsl(0, 0% , 90%); // used for bg
$colorGray          : hsl(0, 0% , 80%);
$colorGrayDarker    : hsl(0, 0% , 60%);


// Grid
$containerLargeWidth    : 1200px;


// Typography
$fontWeightThin           : 100;
$fontWeightLight          : 300;
$fontWeightNormal         : normal;
$fontWeightMedium         : 500;
$fontWeightBold           : bold;
$fontWeightBlack          : 900;

$fontSizeNormal           : 1rem;
$fontSizeSmall            : 0.8rem;
$fontSizeXSmall           : 0.6rem;
$fontSizeLarge            : 1.2rem;
$fontSizeXLarge           : 1.4rem;
