@use '../util' as *;


.customize-carousel {
    .carousel-wrapper {
        
        .owl-stage-outer {
            border-radius: 4px;
        }

        .owl-controls-wrapper {
            bottom: -3%;
            position: absolute;
            right: 27px;
        
            .owl-controls {
                position: relative;
                display: inline-flex;

                .owl-dots {
                    margin-top: 3px;

                    .owl-dot {
    
                        span {
                            width: 8.5px;
                            height: 8.5px;
                            background-color: var(--c-white);
                            opacity: 0.53;
                            margin: 5px 3px;
                            border-radius: 50%;
                        }
    
                        &.active span,
                        &:hover span {
                            opacity: 1;
                        }
                    }
                }
                
                .owl-nav {

                    height: 0px;
                    cursor: pointer;
                    margin: 0;
                
                    .owl-prev,
                    .owl-next {
                        position: absolute;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--c-white);
                        padding: rem(4);
                        width: 14.5px;
                        height: 14.5px;
                        border-radius: 50%;
                    }

                    .owl-prev {
                        right: -25px;
                    }
            
                    .owl-next {
                        left: -25px;
                    }
                }
            }
        }

    }
}