// usage: background color and text color should be added

.badge {
    background-color: var(--c-danger);
    color: var(--c-white);

    position: absolute;
    right: -0.7em;
    top: -0.7em;
    min-width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    // align-items: center;
    font-size: 0.8em;
    padding: 0.2em;
    font-weight: 400;
}

.badge-sm {
    font-size: 0.6em;
}

.badge-md {
    font-size: 0.7em;
}

.badge-lg {
    font-size: 0.8em;
}