@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  direction: rtl;
  background-color: var(--c-bg);
  line-height: 1.4;
  
  &.noscroll {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p {
  margin: 0;
}
.flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }

  &-w {
    flex-wrap: wrap;
  }

  &-d-c {
    flex-direction: column;
  }

  &-d-r {
    flex-direction: row;
  }
}

// justicy content
.jc {

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
  
  &-around {
    justify-content: space-around;
  }
  
  &-flexstart {
    justify-content: flex-start;
  }

  &-flexend {
    justify-content: flex-end;
  }

  &-right {
    justify-content: right;
  }  
  
  &-left {
    justify-content: left;
  }
}

// Align items
.ai {

  &-center {
    align-items: center;
  }

  &-baseline {
    align-items: baseline;
  }

}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint(medium) {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type=text] {
  border: none;
  border-radius: 0;
  outline: none;

  @include breakpoint(medium) {}

  &::placeholder {
  }

  &:focus {
    border: none;
  }

}

.border {

  &-r-all {
      border-radius: var(--border-radius-size);
  }

  &-r-bottom {
      border-bottom-left-radius: var(--border-radius-size);
      border-bottom-right-radius: var(--border-radius-size);
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

// Width Helper classes
.w-100 {
  width: 100%;
}

// gap
.gap {

  &-6 {
    gap: rem(6);
  }
  
  &-8 {
    gap: rem(8);
  }

  &-12 {
    gap: rem(12);
  }

  &-16 {
    gap: rem(16);
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid {
  display: grid;
}
