@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c-bg);

}
h1,
h2,
h3,
h4,
h5,
h6 {
  // margin: 0;
}

p {
  // margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}


.flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }

  &-w {
    flex-wrap: wrap;
  }

  &-d-c {
    flex-direction: column;
  }

  &-d-r {
    flex-direction: row;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

// justicy content
.jc {

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
  
  &-around {
    justify-content: space-around;
  }
  
  &-flexstart {
    justify-content: flex-start;
  }

  &-flexend {
    justify-content: flex-end;
  }

  &-right {
    justify-content: right;
  }  
  
  &-left {
    justify-content: left;
  }
}

// Align items
.ai {

  &-center {
    align-items: center;
  }

  &-baseline {
    align-items: baseline;
  }

}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint(medium) {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// button {
//   padding: 0;
//   margin: 0;
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
// }

// input[type=text] {
//   border: none;
//   border-radius: 0;
//   outline: none;

//   @include breakpoint(medium) {}

//   &::placeholder {
//   }

//   &:focus {
//     border: none;
//   }

// }

.border {

  &-r-all {
      border-radius: var(--border-radius-size);
  }

  &-r-bottom {
      border-bottom-left-radius: var(--border-radius-size);
      border-bottom-right-radius: var(--border-radius-size);
  }
}

// Width Helper classes
.w-100 {
  width: 100%;
}

// gap
.gap {

  &-6 {
    gap: rem(6);
  }
  
  &-8 {
    gap: rem(8);
  }

  &-12 {
    gap: rem(12);
  }

  &-16 {
    gap: rem(16);
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid {
  display: grid;
}

.line-through {
  text-decoration: line-through;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  cursor: pointer;

  &.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  
  &::-webkit-scrollbar {
    display: none;
  }

  &-item {
    flex: 0 0 auto;
  }
}
.flip-horizontally {
  transform: scaleX(-1);
}

$scroll-arrow-size: 39px;

.scroll-arrow {
  position: absolute;
  top: calc(50% - $scroll-arrow-size/2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: $scroll-arrow-size;
  height: $scroll-arrow-size;
  border-radius: 50%;
  background-color: var(--c-white);
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.19);
  padding-right: 4px;

  &.right {
    @extend .flip-horizontally;
    right: -13px;
    // display: hidden;
  }

  &.left {
    left: -13px;
  }
}

.position {

  &-absolute {
    position: absolute !important;
  }

  &-relative{
    position: relative !important;
  }
}

.ta-center {
  text-align: center;
}

.border-none {
  border: none;
}