:root {
    --btn-fs-sm: var(--fs-body-sm);
    --btn-fs-md: var(--fs-body-md);
    --btn-fs-lg: var(--fs-body-lg);

    --btn-border-radius: 0.5rem;
    --btn-padding-x: 0.5rem;
    --btn-padding-y: 0.5rem;

    --btn-gap-size: 0.5rem;
    --btn-fw: 700;
}

.btn {
    background-color: var(--c-white);
    color: var(--c-black);
    cursor: pointer;
    text-decoration: none;
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding-x) var(--btn-padding-y);
    font-size: 1rem;
    font-family: var(--font-primary);
    font-weight: var(--btn-fw) default;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    // Button states
    &:disabled {
        pointer-events: none;
        opacity: .7;
    }

    &:hover {
        opacity: .9;
    }

    &:focus {
        // value is only for test, not part of design
        box-shadow: 0 0 0 0.25rem var(--c-gray-dark);
    }

}

.btn-primary {
    background-color: var(--c-primary);
    color: var(--c-white);
}

.btn-secondary {
    background-color: var(--c-secondary);
    color: var(--c-white);
}

.btn-success {
    background-color: var(--c-success);
    color: var(--c-white);
}

.btn-outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}

.btn-outline-primary {
    @extend .btn-outline;
    color: var(--c-primary);
    border-color: var(--c-primary);
}

.btn-outline-secondary {
    @extend .btn-outline;
    color: var(--c-secondary);
    border-color: var(--c-secondary);
}

.btn-outline-success {
    @extend .btn-outline;
    color: var(--c-success);
    border-color: var(--c-success);
}

.btn-outline-gray-darker {
    @extend .btn-outline;
    color: var(--c-gray-darker);
    border-color: var(--c-gray-darker);
}

.btn-link {
    border: none;
    background-color: transparent;
    // padding: 0 !important;

    &:focus {
        box-shadow: none;
    }
}

.btn-link-primary {
    @extend .btn-link;
    color: var(--c-primary);
}

.btn-link-secondary {
    @extend .btn-link;
    color: var(--c-secondary);
}

.btn-link-success {
    @extend .btn-link;
    color: var(--c-success);
}

.btn-link-gray-darker {
    @extend .btn-link;
    color: var(--c-gray-darker);
}


// Sizes
.btn-sm {
    font-size: var(--btn-fs-sm);
}

.btn-md {
    font-size: var(--btn-fs-md);
}

.btn-lg {
    font-size: var(--btn-fs-lg);
}
