@use '../util' as *;

:root {
    // Primary Colors
    --c-primary: hsla(32, 93%, 50%, 1);
    --c-secondary: hsla(212, 93%, 50%, 1);
    --c-black: hsla(0, 0%, 13%, 1);
    --c-white: hsla(0, 0%, 100%, 1);

    --c-success: hsla(140, 74%, 38%, 1);
    --c-danger: hsla(0, 100%, 54%, 1);

    // Tint and Shades    
    --c-primary-lighter: hsla(32, 93%, 56%, 1);
    --c-primary-very-light: hsla(32, 94%, 81%, 1);
    --c-primary-darker: hsla(32, 93%, 44%, 1);
    --c-primary-very-dark: hsla(32, 94%, 19%, 1);

    --c-secondary-lighter: hsla(212, 93%, 56%, 1);
    --c-secondary-very-light: hsla(213, 94%, 87%, 1);
    --c-secondary-darker: hsla(212, 93%, 37%, 1);
    --c-secondary-very-dark: hsla(212, 94%, 19%, 1);


    // Black shades
    --c-gray: hsla(0, 0%, 93%, 1);
    --c-gray-light: hsla(0, 0%, 98%, 1);
    --c-gray-dark: hsla(0, 0%, 80%, 1);
    --c-gray-darker: hsla(0, 0%, 46%, 1);

    --c-bg: var(--c-gray);
    --c-link-visited: var(--c-black);
}

// Generate color helper classes. Eg:
// .text-primary {color: color:var(--c-primary);}
// .bg-primary {background-color:var(--c-primary)}

$colors: (
    'primary': #{var(--c-primary)},
    'secondary': #{var(--c-secondary)},
    'black': #{var(--c-black)},
    'white': #{var(--c-white)},
    'success': #{var(--c-success)},
    'danger': #{var(--c-danger)},
    'primary-lighter': #{var(--c-primary-lighter)},
    'primary-very-light': #{var(--c-primary-very-light)},
    'primary-darker': #{var(--c-primary-darker)},
    'primary-very-dark': #{var(--c-primary-very-dark)},
    'secondary-lighter': #{var(--c-secondary-lighter)},
    'secondary-very-light': #{var(--c-secondary-very-light)},
    'secondary-darker': #{var(--c-secondary-darker)},
    'secondary-very-dark': #{var(--c-secondary-very-dark)},
    'gray': #{var(--c-gray)},
    'gray-light': #{var(--c-gray-light)},
    'gray-dark': #{var(--c-gray-dark)},
    'gray-darker': #{var(--c-gray-darker)},
); 

@each $color, $value in $colors {
    .text-#{$color} {
        color: $value;
    }
    .bg-#{$color} {
        background-color: $value;
    }
    .icon-#{$color} {
        path {
            fill: $value;
        }
    }
}


a:active {
    color: inherit;
}
a:visited {
    color: var(--c-link-visited);
}