:root {
    // Primary Colors
    --c-primary: hsla(32, 93%, 50%, 1);
    --c-secondary: hsla(212, 93%, 50%, 1);
    --c-black: hsla(0, 0%, 13%, 1);
    --c-white: hsla(0, 0%, 100%, 1);

    --c-success: hsla(140, 74%, 38%, 1);
    --c-danger: hsla(0, 100%, 54%, 1);

    // Tint and Shades    
    --c-primary-lighter: hsla(32, 93%, 56%, 1);
    --c-primary-very-light: hsla(32, 94%, 81%, 1);
    --c-primary-darker: hsla(32, 93%, 44%, 1);
    --c-primary-very-dark: hsla(32, 94%, 19%, 1);

    --c-secondary-lighter: hsla(212, 93%, 56%, 1);
    --c-secondary-very-light: hsla(213, 94%, 87%, 1);
    --c-secondary-darker: hsla(212, 93%, 37%, 1);
    --c-secondary-very-dark: hsla(212, 94%, 19%, 1);


    // Black shades
    --c-gray: hsla(0, 0%, 93%, 1);
    --c-gray-dark: hsla(0, 0%, 80%, 1);
    --c-gray-light: hsla(0, 0%, 98%, 1);
    --c-gray-darker: hsla(0, 0%, 46%, 1);

    --c-bg: var(--c-gray);
}

// Utiltiy classes
.text-primary{
    color: var(--c-primary);
}

.text-secondary{
    color: var(--c-secondary);
}

.text-black{
    color: var(--c-black);
}

.text-white{
    color: var(--c-white);
}

.text-success{
    color: var(--c-success);
}

.text-danger{
    color: var(--c-danger);
}

.bg-primary {
    background-color: var(--c-primary);
}

.bg-secondary {
    background-color: var(--c-secondary);
}

.bg-black {
    background-color: var(--c-black);
}

.bg-white {
    background-color: var(--c-white);
}

.bg-success {
    background-color: var(--c-success);
}

.bg-danger {
    background-color: var(--c-danger);
}

