@use '../util' as *;
// This file implements Responsive solution for typography
// It is not a replacement for typography.scss

:root {
    --font-primary: 'IRANSansX', sans-serif;

    // Line height
    --header-line-height: 1.4;
    --body-line-height: 1.2;

    // font size
    --fs-base: 1rem;
    --fs-scale-ratio: 0.9; // change this in media queries

    --fs-body-xxs: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.75);
    --fs-body-xs: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.8127);
    --fs-body-sm: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);
    --fs-body-md: calc(var(--fs-base) * var(--fs-scale-ratio) * 1);
    --fs-body-lg: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.125);
    --fs-body-xl: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.25);

    
    --fs-h1: calc(var(--fs-base) * var(--fs-scale-ratio) * 2.75);
    --fs-h2: calc(var(--fs-base) * var(--fs-scale-ratio) * 2.5);
    --fs-h3: calc(var(--fs-base) * var(--fs-scale-ratio) * 2);
    --fs-h4: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.5);
    --fs-h5: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.25);
    --fs-h6: calc(var(--fs-base) * var(--fs-scale-ratio) * 1);

    --fs-display1: calc(var(--fs-base) * var(--fs-scale-ratio) * 4); 
    --fs-display2: calc(var(--fs-base) * var(--fs-scale-ratio) * 3.5);

    --fs-caption-md: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.75);
    --fs-caption-lg: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);
    --fs-overline-lg: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);
    --fs-overline-sm:  calc(var(--fs-base) * var(--fs-scale-ratio) * 0.75);
    --fs-badge: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);

}


@include breakpoint(small) {
    :root {
        --fs-scale-ratio: 1;
    }
}

@include breakpoint(large) {
    :root {
        --fs-scale-ratio: 1.1;
    }
}

body {
    font-family: var(--font-primary);
    direction: rtl;
    line-height: var(--body-line-height);
    font-size: var(--fs-base);
}
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--header-line-height);
    margin-top: 0;
}

p {
    line-height: var(--body-line-height);
    margin-top: 0;
}


a,
a:visited,
a:active {
  text-decoration: none;
}