@use '../util' as *;

// px sizes in the comments are for space-unit=1

$fonts_dir : '/assets/fonts/';

@font-face {
    font-family: IRANSansX;
    font-weight: normal;
    src: url($fonts_dir + 'IRANSansX-Regular.woff2') format('woff2')
}

@font-face {
    font-family: IRANSansX;
    font-weight: 900;
    src: url($fonts_dir + 'IRANSansX-Bold.woff2') format('woff2')
}

:root {
    --font-primary: 'IRANSansX', sans-serif;

    // Line height
    --header-line-height: 1.4;
    --body-line-height: 1.7;

    // font size
    --fs-base: 1rem;
    --fs-scale-ratio: 0.9; // change this in media queries

    --fs-body-xl: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.25); // 20px
    --fs-body-lg: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.125); // 18px
    --fs-body-md: calc(var(--fs-base) * var(--fs-scale-ratio) * 1); // 16px
    --fs-body-sm: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875); // 14px
    --fs-body-xs: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.8127); // 13px
    --fs-body-xxs: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.75); // 12px

    
    --fs-h1: calc(var(--fs-base) * var(--fs-scale-ratio) * 2.75); // 44px
    --fs-h2: calc(var(--fs-base) * var(--fs-scale-ratio) * 2.5); // 40px
    --fs-h3: calc(var(--fs-base) * var(--fs-scale-ratio) * 2); // 32px
    --fs-h4: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.5); // 24px
    --fs-h5: calc(var(--fs-base) * var(--fs-scale-ratio) * 1.25); // 20px
    --fs-h6: calc(var(--fs-base) * var(--fs-scale-ratio) * 1); // 16px

    --fs-display1: calc(var(--fs-base) * var(--fs-scale-ratio) * 4); // 64px
    --fs-display2: calc(var(--fs-base) * var(--fs-scale-ratio) * 3.5); // 56px

    --fs-caption-md: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.75);
    --fs-caption-lg: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);
    --fs-overline-lg: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);
    --fs-overline-sm:  calc(var(--fs-base) * var(--fs-scale-ratio) * 0.75);
    --fs-badge: calc(var(--fs-base) * var(--fs-scale-ratio) * 0.875);

}


@include breakpoint(small) {
    :root {
        --fs-scale-ratio: 1;
    }
}

@include breakpoint(xxlarge) {
    :root {
        --fs-scale-ratio: 1.1;
    }
}

body {
    font-family: var(--font-primary);
    direction: rtl;
    line-height: var(--body-line-height);
    font-size: var(--fs-base);
}
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--header-line-height);
    margin-top: 0;
    margin-bottom: var(--space-2);
}

p {
    line-height: var(--body-line-height);
    margin-top: 0;
    margin-bottom: var(--space-1);
}


a,
a:visited,
a:active {
  text-decoration: none;
}


$fonts-map: (
    'display1': ('size': #{var(--fs-display1)}, 'weight': 900),
    'display2': ('size': #{var(--fs-display2)}, 'weight': 800),
    'h1': ('size': #{var(--fs-h1)}, 'weight': 800),
    'h2': ('size': #{var(--fs-h2)}, 'weight': 800),
    'h3': ('size': #{var(--fs-h3)}, 'weight': 700),
    'h4': ('size': #{var(--fs-h4)}, 'weight': 700),
    'h5': ('size': #{var(--fs-h5)}, 'weight': 700),
    'h6': ('size': #{var(--fs-h6)}, 'weight': 700),
    'body-xl': ('size': #{var(--fs-body-xl)}, 'weight': 400),
    'body-lg': ('size': #{var(--fs-body-lg)}, 'weight': 400),
    'body-md': ('size': #{var(--fs-body-md)}, 'weight': 400),
    'body-sm': ('size': #{var(--fs-body-sm)}, 'weight': 400),
    'body-xs': ('size': #{var(--fs-body-xs)}, 'weight': 400),
    'body-xxs': ('size': #{var(--fs-body-xxs)}, 'weight': 400),
    'caption-md': ('size': #{var(--fs-caption-md)}, 'weight': 500),
    'caption-lg': ('size': #{var(--fs-caption-lg)}, 'weight': 500),
    'overline-sm': ('size': #{var(--fs-overline-sm)}, 'weight': 300),
    'overline-lg': ('size': #{var(--fs-overline-lg)}, 'weight': 300),
);


$class-name-separator: '-';

@mixin generate-fonts {

    @each $size,
    $value in $fonts-map {
        &#{$class-name-separator}#{$size} {
            font-size: map-get($fonts-map, $size, 'size');
            font-weight: map-get($fonts-map, $size, 'weight');
        }
    }
}

.text {
    @include generate-fonts();
}

// create classes for font weight. eg: .fw-400
$font-weights: (
    300,
    400,
    500,
    600,
    700,
    800,
    900
);

@each $size in $font-weights {
    .fw-#{$size} {
        font-weight: #{$size};
    }
}